@using HuskyRescue.Web.HtmlHelpers;
@using GoogleRecaptchaMvc;
@model HuskyRescue.ViewModel.Payment.Donation
@section scripts {
	<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
	<script src="https://js.braintreegateway.com/v1/braintree-data.js"></script>

	@if (Request.QueryString.Count > 0)
	{
		switch (Request.QueryString[0].ToLowerInvariant())
		{
			case "fallback":
				<script src="https://www.google.com/recaptcha/api.js?fallback=true" async defer></script>
				break;
			case "nojs":

				break;
			default:
				<script src="https://www.google.com/recaptcha/api.js" async defer></script>
				break;
		}
	}
	else
	{
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	}

	@Scripts.Render("~/bundles/Donate-Index")
}

<div class="row">
	<div class="small-6 small-centered columns">
		<h3>Donate to TXHR</h3>
	</div>
</div>

@using (Html.BeginForm("Donate", "Donate", FormMethod.Post, new { id = "donateForm", autocomplete = "off" }))
{
	@Html.AntiForgeryToken()
	@*@Html.HiddenFor(m => m.PaymentMethod)*@
	<input type="hidden" id="clientToken" value="@ViewData["clientToken"]" />
	<input type="hidden" id="merchantId" value="@ViewData["merchantId"]" />
	<input type="hidden" id="environment" value="@ViewData["environment"]"/>
	<input type="hidden" id="postal_code" data-braintree-name="postal_code" value="">
	<input type="hidden" id="cardholder_name" data-braintree-name="cardholder_name" value="">

	<div class="row">
		<div class="large-12 columns">
			@Html.ValidationSummary(true)
		</div>
	</div>

	<div class="row">
		<div class="large-2 columns end">
			@Html.LabelTextBoxFor(m => m.Amount)
			@Html.ValidationMessageFor(m => m.Amount)
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">
			@Html.LabelTextBoxFor(m => m.FirstName)
			@Html.ValidationMessageFor(m => m.FirstName)
		</div>
		<div class="large-6 columns">
			@Html.LabelTextBoxFor(m => m.LastName)
			@Html.ValidationMessageFor(m => m.LastName)
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">
			@Html.LabelTextBoxFor(m => m.StreetAddress1)
			@Html.ValidationMessageFor(m => m.StreetAddress1)
		</div>
		<div class="large-6 columns">
			@Html.LabelTextBoxFor(m => m.StreetAddress2)
			@Html.ValidationMessageFor(m => m.StreetAddress2)
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">
			@Html.LabelTextBoxFor(m => m.City)
			@Html.ValidationMessageFor(m => m.City)
		</div>
		<div class="large-2 columns">
			@Html.LabelDropDownFor(m => m.StateId, Model.States)
			@Html.ValidationMessageFor(m => m.StateId)
		</div>
		<div class="large-1 columns end">
			@Html.LabelTextBoxFor(m => m.PostalCode, null, new { placeholder = "12345" })
			@Html.ValidationMessageFor(m => m.PostalCode)
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">
			@Html.LabelTextBoxFor(m => m.HomePhoneNumber)
			@Html.ValidationMessageFor(m => m.HomePhoneNumber)
		</div>
		<div class="large-6 columns">
			@Html.LabelTextBoxFor(m => m.MobilePhoneNumber)
			@Html.ValidationMessageFor(m => m.MobilePhoneNumber)
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">
			@Html.LabelTextBoxFor(m => m.Email)
			@Html.ValidationMessageFor(m => m.Email)
		</div>
		<div class="large-6 columns">
			@Html.LabelTextBoxFor(m => m.Website)
			@Html.ValidationMessageFor(m => m.Website)
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			@Html.LabelTextAreaFor(m => m.CustomerNotes)
			@Html.ValidationMessageFor(m => m.CustomerNotes)
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			@Html.LabelRadioButtonFor(m => m.PaymentMethod, Model.PaymentMethods)
		</div>
	</div>

	<div id="creditcardrow" style="display:none">
		<div class="row">
			<div class="large-2 columns">
				@Html.LabelTextBoxFor(m => m.CardNumber, false, null, new { placeholder = "1111222233334444", data_braintree_name = "number", maxlength = "19" })
				@Html.ValidationMessageFor(m => m.CardNumber)
			</div>
			<div class="large-1 columns">
				@Html.LabelTextBoxFor(m => m.CardCvv, false, null, new { placeholder = "123", data_braintree_name = "cvv", maxlength = "5" })
				@Html.ValidationMessageFor(m => m.CardCvv)
			</div>
			<div class="large-1 columns">
				@Html.LabelTextBoxFor(m => m.CardExpireMonth, false, null, new { placeholder = "MM", data_braintree_name = "expiration_month", maxlength = "2", min = 1, max = 12 })
				@Html.ValidationMessageFor(m => m.CardExpireMonth)
			</div>
			<div class="large-1 columns end">
				@Html.LabelTextBoxFor(m => m.CardExpireYear, false, null, new { placeholder = "YYYY", data_braintree_name = "expiration_year", maxlength = "4", min = DateTime.Now.Year })
				@Html.ValidationMessageFor(m => m.CardExpireYear)
			</div>
		</div>
	</div>
	<div class="row" id="paypalrow" style="display:none">
		<div class="large-12 columns">
			<div id="paypal-button"></div>
			<br />
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			@Html.LabelCheckboxFor(m => m.FutureContact)
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			@Html.RecaptchaV2(@ViewData["recapPublicKey"].ToString())
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<input type="submit" value="Donate Now" class="button" id="donateButton">
		</div>
	</div>
}
