<div class="row">
	<div class="large-12 columns text-center">
		<img src="/Content/Images/Controllers/Golf/logo-2016-s.png" class="" />
	</div>
</div>

<div class="row" style="margin-top: 20px;">
	<div class="large-8 large-centered medium-10 medium-centered small-6 small-centered columns text-center">
		<dl class="sub-nav golf-nav">
			<dd>
				@Html.ActionLink("Event Details", "Index", new { controller = "Golf" }, new { @class = "button" })
			</dd>
			<dd>
				@Html.ActionLink("Register", "Register", new { controller = "Golf" }, new { @class = "button" })
			</dd>
			<dd>
				@Html.ActionLink("Sponsorships", "Sponsorships", new { controller = "Golf" }, new { @class = "button" })
			</dd>
			<dd>
				@Html.ActionLink("Sponsors", "Sponsors", new { controller = "Golf" }, new { @class = "button" })
			</dd>
			<dd>
				@Html.ActionLink("Raffle & Auction", "RaffleAuction", new { controller = "Golf" }, new { @class = "button" })
			</dd>
			<dd>
				@Html.ActionLink("About TXHR", "Support", new { controller = "Golf" }, new { @class = "button" })
			</dd>
		</dl>
	</div>
</div>
