@model IEnumerable<HuskyRescue.ViewModel.SystemSetting.List>

@{
	ViewBag.Title = "Index";
}

<div class="row">
	<div class="large-6 small-12 small-centered large-centered columns"><h2>System Settings</h2></div>
</div>

<div class="row">
	<div class="large-12 columns">

		<p>
			@Html.ActionLink("Create New", "Create")
		</p>
		<table class="table">
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Value)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.AddedOnDate)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.AddedByUserId)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.UpdatedByUserId)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.UpdatedOnDate)
				</th>
				<th></th>
			</tr>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Value)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.AddedOnDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.AddedByUserId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UpdatedByUserId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UpdatedOnDate)
					</td>
					<td>
						@Html.ActionLink("Edit", "Edit", new { id = item.Name }) |
						@Html.ActionLink("Details", "Details", new { id = item.Name }) @*|
							@Html.ActionLink("Delete", "Delete", new { id = item.Name })*@
					</td>
				</tr>
			}

		</table>
	</div>
</div>
